/* * {
    border: solid red 1px;
} */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #265061;
    color: #FFF5F3;
    height: 10vh;
}

.search-filter-list {
    display: flex;
    list-style: none;
}

.search-filter-list li {
    margin-left: 20px;
}
