body {
    margin: 0;
    padding: 0;
    font-family: Whitney,"Trebuchet MS", Arial, sans-serif;
}

.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

header {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #265061;
    height: 15vh;
    color: #eff1f3;
}

.title {
    margin-block-end: 0;
    font-family: CenturyGothic, Gill Sans, sans-serif;
}

.tagline {
    margin-block-start: 0;
    font-style: italic;
}

.navbar-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 1.2rem;
}

.navbar-list li {
    padding: .3em 1em;
    margin: 0 .4rem;
    font-size: 1.4em;
}

.navbar-list li:hover {
    background-color: #00A6A6;
}

.authentication {
    position: fixed;
    top: 1vh;
    right: 1vh;
    margin: 0;
    padding: 0; 
}

.welcome {
    margin: .5rem 1rem;
    font-size: .8em;
}

.signout-welcome-container {
    display: flex;
    justify-content: space-between;
}


/* ABOUT AND RESPONSIBILITY PAGES */
.page-container {
    display: flex;
    justify-content: center;
}

.page-inner {
    max-width: 800px;
}

.headline {
    font-size: 3rem;
    font-family: CenturyGothic, Gill Sans, sans-serif;
}

section p {
    font-size: 1.3em;
    line-height: 1.8em;
}

section li {
    font-size: 1.4em;
    line-height: 1.8em;
}

/* REACT MAP */
.popup-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#observation-image {
    height: 200px;
    padding-right: 10px;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#get-directions-button {
    border-radius: 5px;
    border: none;
    background-color: #265061;
    color:#EFF1F3;
    padding: .75rem;
}

#get-directions-button:hover {
    background-color: #30677d;
}

#favorite-heart {
    display: flex;
    font-size: large;
    margin-left: 1em;
}

.favorite-button {
    background-color: #EFF1F3;
    border: 1px solid;
    font-family: "Whitney", "Trebuchet MS", Arial, sans-serif;
    font-size: 16px;
    color: #7a8082;
    padding: 5px 10px;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
}

.favorite-button:hover {
    background-color: #FFF;
    color: #265061;
}

.favorite-button-clicked {
    background-color: #F79824;
    color: #265061;
    border: 1px solid;
    font-family: "Whitney", "Trebuchet MS", Arial, sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    margin: 1rem;
    border-radius: 10px;
}


/* CONTAINER FOR DROPDOWN AND SEARCH BAR */
.dropsearch-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: auto;
    position: fixed;
    top: 14vh;
    right: 0px;
    z-index: 1;
}

/* FAVORITE SIDEBAR */
.favSidebar-on-map {
    z-index: 1;
    position: fixed;
    top: 25vh;
    right: 1vw;
}

.favsidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: #eff1f3;
    flex-direction: column;
    max-height: 60vh;
}

.fave-list-ul {
    overflow: hidden; 
    overflow-y:scroll;
}

#fave-title {
    font-size: 1.7em;
    margin-bottom: 0;
}

.favorite-list-item {
    list-style: none;
    display: flex;
    margin-bottom: .5rem;
    margin-right: .5rem;
}

.favorite-list-item:hover {
    background-color: #FFF;
}

#fave-image {
    height: 10vh;
    width: 10vh;
    background-color: #7a8082;
    margin-right: 1rem;
    margin-left: -1.5rem;
}

#fave-header {
    font-size: 1em;
    margin: 0;
}

#fave-text {
    font-size: .9em;
    margin: 0;
}


/* SEARCH BAR */
.search-container {
    background-color: #EFF1F3;
    display: flex;
    margin: 1rem;
    border: solid black 1px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
}

.search-input {
    padding: 0.5em;
    font-size: 16px;
    font-family: Whitney, "Trebuchet MS", Arial, sans-serif;
    margin-right: 0;
    border: none;
    outline: none;
    background-color: #EFF1F3;
    height: 14px;
}

.clear-input {
    border: none;
    outline: none;
    background-color: #EFF1F3;
    color: #7a8082;
    /* margin-top: 5px; */
    padding-top: 6px;
    padding-bottom: 0;
}


/* DROP DOWN FILTER */
.dropdown-container {
    position: relative;
    width: 250px;
    margin: 1rem 0;
    border: solid black 1px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
}

.select-species-button {
    background-color: #EFF1F3;
    font-size: 16px;
    color: #7a8082;
    text-transform: none;
    font-family: "Whitney", "Trebuchet MS", Arial, sans-serif;
    padding: 5px;
    border: none;
    width: 250px;
}

.select-species-button:hover {
    background-color: #FFF;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #EFF1F3;
    width: 250px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Whitney", "Trebuchet MS", Arial, sans-serif;
}

.dropdown-species-list-with-scroll {
    max-height: 300px;
    overflow: hidden; 
    overflow-y:scroll;
    list-style-type: none;
}

.dropdown-list-item {
    padding: 8px 0;
    }

.dropdown-list-item input[type="checkbox"] {
    margin-right: 8px;
}

.dropdown-button {
    background-color: #EFF1F3;
    margin-bottom: 10px;
    border: 1px solid;
    color: #333;
    padding: 8px 16px;
    font-size: 16px;
    font-family: "Whitney", "Trebuchet MS", Arial, sans-serif;
}

.dropdown-button:hover {
    background-color: #e8e2e0;
}

.rotated-up {
    transform: rotate(180deg);
    transition: transform .10s linear;
    padding-left: .5rem;
    padding-right: .5rem;
}  

.rotated-down {
    transform: rotate(0deg);
    transition: transform .10s linear;
    padding-left: .5rem;
    padding-right: .5rem;
}

/* AUTHENTICATION */
.google-signin {
    transition: background-color .3s, box-shadow .3s;
    padding: .5rem .7rem .5rem 2.5rem;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: .9rem;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: #EFF1F3;
    background-repeat: no-repeat;
    background-position: .8rem .5rem;}
    
.google-signin:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}
    
.google-signin:active {
    background-color: #eeeeee;
}
    
.google-signin:focus {
    outline: none;
    box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
}
    
.google-signin:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
}