/* * {
    border: solid red 1px;
} */

body {
    margin: 0;
    padding: 0;
    font-family: Whitney,"Trebuchet MS", Arial, sans-serif;
}

header {
    padding: 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #265061;
    height: 15vh;
}

.title {
    margin-block-end: 0;
    color: #FFF5F3;
}

.tagline {
    margin-block-start: 0;
    font-style: italic;
    color: #FFF5F3;
}

.search-filter-list {
    display: flex;
    list-style: none;
}

.search-filter-list li {
    margin-left: 20px;
}

.submit {
    border-radius: 35px;
    border: none;
    height: 1.5rem;
}

.popup-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#observation-image {
    height: 200px;
    padding-right: 10px;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#get-directions-button {
    border-radius: 5px;
    border: none;
    background-color: #265061;
    color:#FFF5F3;
    padding: .75rem;
}

#get-directions-button:hover {
    background-color: #30677d;
}

/* .e-multiselect .e-delim-values {
    -webkit-text-fill-color: blue;
    font-size: 16px;
    font-family: Whitney,"Trebuchet MS", Arial, sans-serif;
} */

/* search-bar {
    font-size: 16px;
} */

/* .dropdown {
    font-family: Whitney,"Trebuchet MS", Arial, sans-serif !important;
}

.dropdown-ul {
    position: absolute;
    z-index: 1;
}

.dropdown-button {
    background-color: #FFF5F3;
    font-size: 16px;
    list-style: none;
    font-family: Whitney,"Trebuchet MS", Arial, sans-serif;
} */

/* .gray {
    font-family: Whitney,"Trebuchet MS", Arial, sans-serif !important;
}

.rmsc {
    font-family: Whitney,"Trebuchet MS", Arial, sans-serif;
} */

.dropdown-container {
    position: relative;
    text-transform: none;
}

.select-species-button {
    background-color: #FFF5F3;
    font-size: 16px;
    color: #7a8082;
    text-transform: none;
    font-family: "Whitney", "Trebuchet MS", Arial, sans-serif;
    padding: 5px;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Whitney", "Trebuchet MS", Arial, sans-serif;
}

.dropdown-list-item {
    padding: 8px 10px;
    }

.dropdown-list-item input[type="checkbox"] {
    margin-right: 8px;
}

.search-input {
    font-size: 16px;
    top: 100%;
    left: 0;
}